<section class="contacts-section">
  <div class="contacts-container container">
    <h2 class="contacts-title">Fresh Harvest Box has got you covered</h2>
    <ul class="contacts-list list">
      <li class="contacts-item">
        <img
          class="contacts-img"
          srcset="
            ./img/cotacts/melon_desk@1x.webp 1x,
            ./img/cotacts/melon_desk@2x.webp 2x
          "
          src="./img/cotacts/melon_desk@1x.webp"
          alt="melon"
        />
      </li>
      <li class="contacts-item">
        <img
          class="contacts-img"
          srcset="
            ./img/cotacts/blueberry_desk@1x.webp 1x,
            ./img/cotacts/blueberry_desk@2x.webp 2x
          "
          src="./img/cotacts/blueberry_desk@1x.webp"
          alt="blueberry"
        />
      </li>
    </ul>
  </div>
  <div class="contacts-support">
    <p class="contacts-support-text">
      Our boxes are packed with delicious, nutritious fruits and vegetables,
      perfect for anyone looking to eat healthier or support local farmers.
      Order your box today and start enjoying the best that nature has to offer!
    </p>
    <form class="contacts-form">
      <label class="contacts-form-field">
        <input
          type="text"
          name="user_email"
          class="contacts-form-input"
          required
          placeholder="Enter email..."
        />
      </label>
      <button type="submit" class="contacts-form-btn">Send</button>
    </form>
  </div>
</section>
