<section class="fruits-section" id="fruits-section-id">
  <div class="fruits-container container">
    <h3 class="fruits-section-title">ORGANIC FRUITS</h3>
    <p class="fruits-section-txt">
      Our organic fruits are hand-picked from local farms and delivered straight
      to your doorstep, ensuring that you get the freshest and most nutritious
      produce possible. We offer a wide selection of organic fruits grown
      without the use of harmful pesticides or chemicals.
    </p>
    <!-- cards of fruits -->
    <ul class="fruits-list card-set">
      <!-- N1 strawberry -->
      <li class="fruits-item card-set-item">
        <h4 class="fruits-title">Strawberry</h4>
        <p class="fruits-txt">Plant</p>

        <picture
          ><source
            srcset="
              ./img/fruits/1_strawberry_shadow@1x.webp 1x,
              ./img/fruits/1_strawberry_shadow@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/fruits/1_strawberry_shadow@1x.png 1x,
              ./img/fruits/1_strawberry_shadow@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="fruits-img"
            src="./img/fruits/1_strawberry_shadow@1x.png"
            alt="Strawberry"
            width="295"
            height="275"
            loading="lazy"
          />
        </picture>

        <div class="fruits-price-container">
          <p class="fruits-price-txt">100 UAH / kg</p>
        </div>
      </li>
      <!-- N2 banana -->
      <li class="fruits-item">
        <h4 class="fruits-title">Banana</h4>
        <p class="fruits-txt">Plant</p>

        <picture>
          <source
            srcset="
              ./img/fruits/2_banana_shadow@1x.webp 1x,
              ./img/fruits/2_banana_shadow@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/fruits/2_banana_shadow@1x.png 1x,
              ./img/fruits/2_banana_shadow@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="fruits-img"
            src="./img/fruits/2_banana_shadow@1x.png"
            alt="Banana"
            width="295"
            height="275"
            loading="lazy"
          />
        </picture>

        <div class="fruits-price-container">
          <p class="fruits-price-txt">80 UAH / kg</p>
        </div>
      </li>
      <!-- N3 watermalon -->
      <li class="fruits-item">
        <h4 class="fruits-title">Watermelon</h4>
        <p class="fruits-txt">Plant</p>

        <picture>
          <source
            srcset="
              ./img/fruits/3_watermelon_shadow@1x.webp 1x,
              ./img/fruits/3_watermelon_shadow@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/fruits/3_watermelon_shadow@1x.png 1x,
              ./img/fruits/3_watermelon_shadow@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="fruits-img"
            src="./img/fruits/3_watermelon_shadow@1x.png"
            alt="Watermelon"
            width="295"
            height="275"
            loading="lazy"
          />
        </picture>

        <div class="fruits-price-container">
          <p class="fruits-price-txt">40 UAH / kg</p>
        </div>
      </li>
      <!-- N4 lime -->
      <li class="fruits-item">
        <h4 class="fruits-title">Lime</h4>
        <p class="fruits-txt">Plant</p>

        <picture
          ><source
            srcset="
              ./img/fruits/4_lime_shadow@1x.webp 1x,
              ./img/fruits/4_lime_shadow@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/fruits/4_lime_shadow@1x.png 1x,
              ./img/fruits/4_lime_shadow@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="fruits-img"
            src="./img/fruits/4_lime_shadow@1x.png"
            alt="Lime"
            width="295"
            height="275"
            loading="lazy"
          />
        </picture>

        <div class="fruits-price-container">
          <p class="fruits-price-txt">60 UAH / kg</p>
        </div>
      </li>
      <!-- N5 apple -->
      <li class="fruits-item">
        <h4 class="fruits-title">Apple</h4>
        <p class="fruits-txt">Plant</p>

        <picture
          ><source
            srcset="
              ./img/fruits/5_apple_shadow@1x.webp 1x,
              ./img/fruits/5_apple_shadow@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/fruits/5_apple_shadow@1x.png 1x,
              ./img/fruits/5_apple_shadow@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="fruits-img"
            src="./img/fruits/5_apple_shadow@1x.png"
            alt="Apple"
            width="295"
            height="275"
            loading="lazy"
          />
        </picture>

        <div class="fruits-price-container">
          <p class="fruits-price-txt">50 UAH / kg</p>
        </div>
      </li>
      <!-- N6 peach -->
      <li class="fruits-item">
        <h4 class="fruits-title">Peach</h4>
        <p class="fruits-txt">Plant</p>

        <picture
          ><source
            srcset="
              ./img/fruits/6_peach_shadow@1x.webp 1x,
              ./img/fruits/6_peach_shadow@2x.webp 2x
            "
            type="image/webp" />
          <source
            srcset="
              ./img/fruits/6_peach_shadow@1x.png 1x,
              ./img/fruits/6_peach_shadow@2x.png 2x
            "
            type="image/png" />
          <img
            class="fruits-img"
            src="./img/fruits/6_peach_shadow@1x.png"
            alt="Peach"
            width="295"
            height="275"
            loading="lazy"
        /></picture>

        <div class="fruits-price-container">
          <p class="fruits-price-txt">80 UAH / kg</p>
        </div>
      </li>
      <!-- N7 plums -->
      <li class="fruits-item">
        <h4 class="fruits-title">Plums</h4>
        <p class="fruits-txt">Plant</p>

        <picture
          ><source
            srcset="
              ./img/fruits/7_plums_shadow@1x.webp 1x,
              ./img/fruits/7_plums_shadow@2x.webp 2x
            "
            type="image/webp" />
          <source
            srcset="
              ./img/fruits/7_plums_shadow@1x.png 1x,
              ./img/fruits/7_plums_shadow@2x.png 2x
            "
            type="image/png" />
          <img
            class="fruits-img"
            src="./img/fruits/7_plums_shadow@1x.png"
            alt="Plums"
            width="295"
            height="275"
            loading="lazy"
        /></picture>

        <div class="fruits-price-container">
          <p class="fruits-price-txt">40 UAH / kg</p>
        </div>
      </li>
      <!-- N8 orange -->
      <li class="fruits-item">
        <h4 class="fruits-title">Orange</h4>
        <p class="fruits-txt">Plant</p>

        <picture
          ><source
            srcset="
              ./img/fruits/8_orange_shadow@1x.webp 1x,
              ./img/fruits/8_orange_shadow@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/fruits/8_orange_shadow@1x.png 1x,
              ./img/fruits/8_orange_shadow@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="fruits-img"
            src="./img/fruits/8_orange_shadow@1x.png"
            alt="Orange"
            width="295"
            height="275"
            loading="lazy"
          />
        </picture>

        <div class="fruits-price-container">
          <p class="fruits-price-txt">60 UAH / kg</p>
        </div>
      </li>
      <!-- N9 kiwi -->
      <li class="fruits-item">
        <h4 class="fruits-title">Kiwi</h4>
        <p class="fruits-txt">Plant</p>

        <picture
          ><source
            srcset="
              ./img/fruits/9_kiwi_shadow@1x.webp 1x,
              ./img/fruits/9_kiwi_shadow@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./img/fruits/9_kiwi_shadow@1x.png 1x,
              ./img/fruits/9_kiwi_shadow@2x.png 2x
            "
            type="image/png"
          />
          <img
            class="fruits-img"
            src="./img/fruits/9_kiwi_shadow@1x.png"
            alt="Kiwi"
            width="295"
            height="275"
            loading="lazy"
          />
        </picture>

        <div class="fruits-price-container">
          <p class="fruits-price-txt">90 UAH / kg</p>
        </div>
      </li>
    </ul>
    <!-- button ORDER with arrow -->
    <button class="fruits-btn js-open-modal" type="button" data-modal="1">
      <svg class="fruits-btn-icon" width="10" height="10">
        <use href="./img/icons.svg#icon-arrow"></use>
      </svg>
      ORDER
    </button>
  </div>
</section>
