<header class="page-header">
  <div class="container">
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a href="" class="header-nav-link">How It Works</a>
        </li>
        <li class="header-nav-item">
          <a href="" class="header-nav-link">Fruits</a>
        </li>
        <li class="header-nav-item">
          <a href="" class="header-nav-link">Contacts</a>
        </li>
      </ul>
      <a class="header-logo" href="../index.html">
        <svg class="header-logo-icon" width="16" height="16">
          <use href="../img/icons.svg#icon-logo"></use>
        </svg>
        <span class="header-logo-text">fresh harvest box</span>
      </a>
    </nav>
    <button class="header-btn" type="button">
      <svg class="header-btn-icon" width="24" height="24">
        <use href="../img/icons.svg#icon-basket"></use>
      </svg>
    </button>
    <button class="burger-btn" type="button">
      <svg class="burger-btn-icon" width="24" height="24">
        <use href="../img/icons.svg#icon-burger"></use>
      </svg>
    </button>
    <button class="burger-close-btn" type="button">
      <svg class="burger-close-icon" width="24" height="24">
        <use href="../img/icons.svg#icon-close"></use>
      </svg>
    </button>
  </div>
</header>
