<section class="hero container">

    <div class="hero-container-main">
        <h1 class="hero-title">fresh harvest box is your 0ne-stop place for a delicious fruit basket</h1>
        <img src="../images/hero/min-strawberry_mob@1x.png" alt="">
        <img src="../images/hero/min-bananas_mob@1x.png" alt="">


        <div class="hero-container-img">
            <img class="hero-img-main" src="../images/hero/girl-hero_mob@1x.jpg" alt="" width="311" height="484">
            <button class="hero-btn-shop" type="button">shopnow</button>
        </div>

    </div>



    <div class="hero-container-text">
        <p class="hero-text">Our expertly curated fruit baskets are made with the freshest, highest quality fruits
            available. Whether you are
            looking
            for a healthy snack or a gift for a loved one, Fresh Harvest Box has got you covered.</p>
    </div>



    <div class="hero-container-fruit">
        <h4 class="hero-title-fruit">fruit</h4>
        <img src="../images/hero/watermelon_mob@1x.png" alt="" width="240" height="172">
        <p class="hero-text-fruit">Refreshing and juicy,
            watermelon is the perfect summer treat and a great source of
            hydration</p>
    </div>



    <!-- Елементи з текстовим 
        контентом #ORGANIC, #PRODUCTS, #BASKET, #FRUITS - список 
        заголовків 3-го рівня -->

    <div class="hero-container-btn">
        <ul class="hero-list list">

            <li class="hero-item">
                <h3 class="hero-title-item">
                    #organic
                </h3>

            </li>

            <li class="hero-item">
                <h3 class="hero-title-item">
                    #products
                </h3>
            </li>

            <li class="hero-item">
                <h3 class="hero-title-item">
                    #basket
                </h3>
            </li>

            <li class="hero-item">
                <h3 class="hero-title-item">
                    #fruits
                </h3>
            </li>
        </ul>

    </div>

    <div class="hero-container-fruit">
        <h4 class="hero-title-fruit">fruit</h4>
        <img src="../images/hero/basket-strawberry_mob@1x.png" alt="" width="240" height="188">
        <p class="hero-text-fruit">Sweet and juicy,
            strawberries are packed with vitamin C and "
            antioxidants, making them a delicious and healthy
            snack</p>
    </div>


</section>