<section class="hero container">
    <div>
        <h1 class="hero-title">fresh harvest box is your 0ne-stop place for a delicious fruit basket</h1>
        <img src="../images/hero/min-strawberry_mob@1x.png" alt="">
        <img src="../images/hero/min-bananas_mob@1x.png" alt="">
        <img src="../images/hero/girl-hero_mob@1x.jpg" alt="">
        <button class="hero-btn" type="button">shopnow</button>
    </div>
    <p>Our expertly curated fruit baskets are made with the freshest, highest quality fruits available. Whether you are
        looking
        for a healthy snack or a gift for a loved one, Fresh Harvest Box has got you covered.</p>
    <div>
        <h4>fruit</h4>
        <img src="../images/hero/watermelon_mob@1x.png" alt="">
        <p>Refreshing and juicy, watermelon is the perfect summer treat and a great source of hydration</p>
    </div>

    <div>
        <button class="" type="button">#organic</button>
        <button class="" type="button">#products</button>
        <button class="" type="button">#basket</button>
        <button class="" type="button">#fruits</button>
    </div>

    <div>
        <h4>fruit</h4>
        <img src="../images/hero/basket-strawberry_mob@1x.png" alt="">
        <p>Sweet and juicy, strawberries are packed with vitamin C and antioxidants, making them a delicious and healthy
            snack</p>
    </div>


</section>