<section class="how-it-works-section" id="manual-id">
  <div class="how-it-works-container container">
    <h3 class="how-it-works-title">
      To order your fruit basket, simply follow these easy steps
    </h3>
    <p class="how-it-works-text">
      Our baskets are assembled with care and delivered straight to your
      doorstep, so you can enjoy the taste of fresh fruit without ever leaving
      your home. Whether you're looking for a healthy snack or a thoughtful
      gift, our fruit baskets are the perfect choice.
    </p>
    <ul class="how-it-works-list list">
      <li
        class="how-it-works-list-item"
        data-aos="fade-zoom-in"
        data-aos-easing="ease-in-back"
        data-aos-duration="800"
        data-aos-delay="200"
        data-aos-offset="0"
      >
        >
        <p class="how-it-works-list-text-box how-it-works-list-text-box-one">
          First Step
        </p>
        <p class="how-it-works-list-text">
          Just choose the fruit you want to order by clicking on the checkboxes
          next to it.
        </p>
      </li>
      <li
        class="how-it-works-list-item"
        data-aos="fade-zoom-in"
        data-aos-easing="ease-in-back"
        data-aos-duration="800"
        data-aos-delay="800"
        data-aos-offset="0"
      >
        <p class="how-it-works-list-text-box how-it-works-list-text-box-two">
          Second Step
        </p>
        <p class="how-it-works-list-text">
          Click on the basket and fill out the form.
        </p>
      </li>
      <li
        class="how-it-works-list-item"
        data-aos="fade-zoom-in"
        data-aos-easing="ease-in-back"
        data-aos-duration="800"
        data-aos-delay="1400"
        data-aos-offset="0"
      >
        <p class="how-it-works-list-text-box how-it-works-list-text-box-three">
          Third Step
        </p>
        <p class="how-it-works-list-text">
          Sit back and relax! Your fresh fruit basket will be delivered.
        </p>
      </li>
    </ul>
    <div class="how-it-works-gif-container">
      <img
        class="how-it-works-gif-item"
        src="./img/how-it-works/fresh-harvest-box.gif"
        alt="gif-fruits"
      />
    </div>
  </div>
</section>
