<div class="menu-container js-menu-container" id="mobile-menu">
  <ul class="mobile-menu">
    <li class="mobile-menu-item">
      <a href="" class="header-nav-link">How It Works</a>
    </li>
    <li class="mobile-menu-item">
      <a href="" class="header-nav-link">Fruits</a>
    </li>
    <li class="mobile-menu-item">
      <a href="" class="header-nav-link">Contacts</a>
    </li>
  </ul>
  <button class="mobile-basket-btn top-line-btn" type="button">
    <svg class="header-btn-icon top-line-icon" width="28" height="28">
      <use href="./img/icons.svg#icon-basket"></use>
    </svg>
  </button>
</div>
