<div class="menu-container js-menu-container" id="mobile-menu">
  <ul class="mobile-menu">
    <li class="mobile-menu-item">
      <a
        href="./index.html#manual-id"
        class="header-nav-link"
        aria-label="link to section whith instructions for buying"
        >How It Works</a
      >
    </li>
    <li class="mobile-menu-item">
      <a
        href="./index.html#fruits-section-id"
        class="header-nav-link"
        aria-label="link to fruits section"
        >Fruits</a
      >
    </li>
    <li class="mobile-menu-item">
      <a
        href="./index.html#contacts-id"
        class="header-nav-link"
        aria-label="link to section with our contacts"
        >Contacts</a
      >
    </li>
  </ul>
  <button
    class="mobile-basket-btn top-line-btn"
    type="button"
    aria-label="mobile button to open a basket"
  >
    <svg class="header-btn-icon top-line-icon" width="28" height="28">
      <use href="./img/icons.svg#icon-basket"></use>
    </svg>
  </button>
</div>
