<div class="backdrop is-hidden">
  <div class="modal">
    <div class="modal-title-btn">
      <h2 class="modal-title">Your Order</h2>
      <button class="modal-btn-close" type="button" data-modal-close>
        <svg class="modal-icon" width="24" height="24">
          <use href="../img/icons.svg#icon-close"></use>
        </svg>
      </button>
    </div>

    
      <ul class="modal-list">
        <li>
          <div class="modal-cards-strawberry">
            <h3 class="modal-undertitle">Strawberry Basket</h3>
            <p class="modal-plant">Plant</p>
            <img class="modal-basket-img-str"
            srcset="
            ./img/order-modal/kisspng-strawberry-basket-food-basket-5abcb2e34c9249 1mob@1x_result.png
            ./img/order-modal/kisspng-strawberry-basket-food-basket-5abcb2e34c9249 1mob@2x_result.png
            ./img/order-modal/kisspng-strawberry-basket-food-basket-5abcb2e34c9249 1tab@1x_result.png
            ./img/order-modal/kisspng-strawberry-basket-food-basket-5abcb2e34c9249 1tab@2x_result.png
            ./img/order-modal/kisspng-strawberry-basket-food-basket-5abcb2e34c9249 1desk@1x_result.png
            
            "
              src="./img/order-modal/kisspng-strawberry-basket-food-basket-5abcb2e34c9249 1desk@2x_result.png"
              alt="basket strawberry"
              width="88px"
              height="95px"
              />
             <label class="form-label-accept">
            <input class="accept-box" type="checkbox" />
          </label>
         
        </li>
        <li>
          <div class="modal-cards-apple">
            <h3 class="modal-undertitle">Apple Basket</h3>
            <p class="modal-plant">Plant</p>
            <img class="modal-basket-img-apple"
            srcset="
            ./img/order-modal/IMG_9757 1desk@1x_result.png
            ./img/order-modal/IMG_9757 1mob@1x_result.png
            ./img/order-modal/IMG_9757 1mob@2x_result.png
            ./img/order-modal/IMG_9757 1tab@1x_result.png
            ./img/order-modal/IMG_9757 1tab@2x_result.png
            "
            src="./img/order-modal/IMG_9757 1desk@2x_result.png" 
            alt="basket apple"
            width="88px"
            height="95px"
            />
            <label class="form-label-accept">
              <input class="accept-box" type="checkbox" />
            </label>
          </div>
        </li>
        <li>
          <div class="modal-cards-fruits">
            <h3 class="modal-undertitle">Fruits Basket</h3>
            <p class="modal-plant">Plant</p>
            <img class="modal-basket-img-fruits"
            srcset="
            ./img/order-modal/unsplash_zeFy-oCUhV8desk@1x_result.png
            ./img/order-modal/unsplash_zeFy-oCUhV8mob@1x_result.png
            ./img/order-modal/unsplash_zeFy-oCUhV8mob@2x_result.png
            ./img/order-modal/unsplash_zeFy-oCUhV8tab@1x_result.png
            ./img/order-modal/unsplash_zeFy-oCUhV8tab@2x_result.png
            "
            src="./img/order-modal/unsplash_zeFy-oCUhV8desk@2x_result.png" 
            alt="basket fruits"
            width="88px"
            height="95px"
            />
            <label class="form-label-accept">
              <input class="accept-box" type="checkbox" />
            </label>
          </div>
        </li>
      </ul>
   

    <form class="main-form">
      <div class="order-form-field">
        <input
          class="order-form-input"
          type="text"
          id="name"
          required
          placeholder=" "
          pattern="[A-Za-z]{1,32}"
        />
        <label class="order-label order-label-position" for="name"
          >Enter full name</label
        >
      </div>

      <div class="order-form-field">
        <input
          class="order-form-input"
          type="email"
          id="email"
          required
          placeholder=" "
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        />
        <label class="order-label order-label-position" for="email"
          >Enter email</label
        >
      </div>

      <div class="order-form-field">
        <input
          class="order-form-input"
          type="tel"
          id="card"
          placeholder=" "
          pattern="\d*"
          minlength="10"
          maxlength="10"
        />
        <label class="order-label order-label-position" for="card"
          >Enter card</label
        >
      </div>

      <div class="order-textarea-field">
        <textarea
          class="order-textarea"
          name="comment"
          id="comment"
          placeholder=" "
        ></textarea>
        <label class="order-label text-label-position" for="comment"
          >Enter comments</label
        >
      </div>

      <button class="order-sudmit-button" type="submit">Submit</button>
    </form>
    <picture class="order-banana-img">
      <!-- Desktop screen -->
      <source
        media="(min-width: 1280px)"
        srcset="
          ./img/order-modal/banana-women-comp.jpg    1x,
          ./img/order-modal/banana-women-comp@2x.jpg 2x
        "
        type="image/jpg"
      />
      <!-- Tablet screen -->
      <source
        media="(min-width: 768px)"
        srcset="
          ./img/order-modal/banana-women-tablet.jpg    1x,
          ./img/order-modal/banana-women-tablet@2x.jpg 2x
        "
        type="image/jpg"
      />
      <img
        src="./img/order-modal/banana-women-tablet.jpg"
        alt="Banking App design"
        height="467"
        loading="lazy"
      />
    </picture>
  </div>
</div>
