<div class="backdrop is-hidden">
  <div class="modal">
    <form class="main-form">
      <div class="order-form-field">
        <input
          class="order-form-input"
          type="text"
          id="name"
          required
          placeholder=" "
          pattern="[A-Za-z]{1,32}"
        />
        <label class="order-label order-label-position" for="name"
          >Enter full name</label
        >
      </div>

      <div class="order-form-field">
        <input
          class="order-form-input"
          type="email"
          id="email"
          required
          placeholder=" "
          pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        />
        <label class="order-label order-label-position" for="email"
          >Enter email</label
        >
      </div>

      <div class="order-form-field">
        <input
          class="order-form-input"
          type="tel"
          id="card"
          placeholder=" "
          pattern="\d*"
          minlength="10"
          maxlength="10"
        />
        <label class="order-label order-label-position" for="card"
          >Enter card</label
        >
      </div>

      <div class="order-textarea-field">
        <textarea
          class="order-textarea"
          name="comment"
          id="comment"
          placeholder=" "
        ></textarea>
        <label class="order-label text-label-position" for="comment"
          >Enter comments</label
        >
      </div>

      <button class="order-sudmit-button" type="submit">Submit</button>
    </form>
    <picture class="order-banana-img">
      <!-- Desktop screen -->
      <source
        media="(min-width: 1280px)"
        srcset="
          ./img/order-modal/banana-women-comp.jpg    1x,
          ./img/order-modal/banana-women-comp@2x.jpg 2x
        "
        type="image/jpg"
      />
      <!-- Tablet screen -->
      <source
        media="(min-width: 768px)"
        srcset="
          ./img/order-modal/banana-women-tablet.jpg    1x,
          ./img/order-modal/banana-women-tablet@2x.jpg 2x
        "
        type="image/jpg"
      />
      <img
        src="./img/order-modal/banana-women-tablet.jpg"
        alt="Banking App design"
        height="467"
        loading="lazy"
      />
    </picture>
  </div>
</div>
