/**
  |============================
  | Animation
  |============================
*/
@keyframes shake-icon {
  10% {
    transform: rotate(20deg);
  }

  20% {
    transform: rotate(-20deg);
  }

  30% {
    transform: rotate(20deg);
  }

  40% {
    transform: rotate(-20deg);
  }
}

@keyframes heartbeat {
  from {
    transform: scale(1) rotate(-14deg);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91) rotate(-14deg);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98) rotate(-14deg);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87) rotate(-14deg);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1) rotate(-14deg);
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-top {
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
