:root {
  /* ==Colors== */
  --main-text-color: #fff;
  --bg-color: #ae1332;
  --black-text-color: #000000;
  --green-color: #a4cb66;
  --second-green: #9dc262;
  --third-green: #a1c864;

  --yellow-color: #f5ce13;
  /* ==Fonts== */
  --main-text-font: 'DM Sans', sans-serif;
}

main {
  background-color: #ae1332;
}

body {
  color: var(--main-text-color);
  font-family: var(--main-text-font);
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 744px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1245px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

section {
  padding-bottom: 80px;
}

@media screen and (min-width: 768px) {
  section {
    padding-bottom: 144px;
  }
}

@media screen and (min-width: 1280px) {
  section {
    padding-bottom: 150px;
  }
}
