:root {
  /* ==Colors== */
  --main-text-color: #fff;
  --bg-color: #ae1332;
  --black-text-color: #000000;
  --green-color: #a4cb66;
  --second-green: #9dc262;
  --third-green: #a1c864;

  --yellow-color: #f5ce13;
  /* ==Fonts== */
  --main-text-font: 'DM Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

main {
  background-color: #ae1332;
}

body {
  color: var(--main-text-color);
  font-family: var(--main-text-font);
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 375px) {
  .container {
    width: 375px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 744px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1245px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

section {
  padding-bottom: 80px;
}

@media screen and (min-width: 768px) {
  section {
    padding-bottom: 144px;
  }
}

@media screen and (min-width: 1280px) {
  section {
    padding-bottom: 150px;
  }
}

/**
  |============================
  | Hover link
  |============================
*/
.hover-link {
  background-image: linear-gradient(
    to right,
    #fff,
    #fff 50%,
    var(--bg-color) 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 6px 6px;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 0.3s ease-in-out,
    background-image 250ms ease-in-out;
}
.hover-link:hover,
.hover-link:focus {
  background-position: 0;
}
.hover-link:before {
  content: '';
  background: var(--bg-color);
  display: block;
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 3px;
  border-radius: 3px;
  transition: width 250ms ease-in-out;
}
.hover-link:hover::before,
.hover-link:focus::before {
  width: 100%;
}
.hover-item {
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
}
.hover-item:hover {
  background-color: var(--bg-color);
}
.hover-link:focus {
  background-image: linear-gradient(
    to right,
    var(--bg-color) 50%,
    var(--bg-color)
  );
}
