.contacts-section {
  padding-top: 53px;
}

@media only screen and (min-width: 768px) {
  .contacts-section {
    padding-top: 79px;
  }
}

@media only screen and (min-width: 1280px) {
  .contacts-section {
    padding-top: 89px;
  }
}

.contacts-container {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

.contacts-title {
  position: absolute;
  top: -52px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  width: 335px;
  color: #ffffff;

  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 320px) and (max-width: 374px) {
  .contacts-title {
    max-width: 320px;
  }
}

@media only screen and (min-width: 768px) {
  .contacts-title {
    top: -78px;
    width: 648px;
    font-size: 54px;
  }
}

@media only screen and (min-width: 1280px) {
  .contacts-title {
    top: -88px;
    width: 740px;
    font-size: 64px;
  }
}

.contacts-list {
  display: flex;
  gap: 16px;
}

@media only screen and (min-width: 768px) {
  .contacts-list {
    margin-bottom: 80px;
  }
}

@media only screen and (min-width: 1280px) {
  .contacts-list {
    gap: 24px;
    margin-bottom: 80px;
  }
}

@media only screen and (max-width: 767px) {
  .contacts-item-tablet {
    display: none;
  }
}

.contacts-img-melon,
.contacts-img-blueberry {
  border-radius: 20px;
}

.contacts-support-text {
  width: 492px;
  height: 54px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.04em;
  color: #ffffff;

  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 80px;

  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 767px) {
  .contacts-support-text,
  .contacts-form {
    display: none;
  }
}

.contacts-form {
  position: relative;
}

.contacts-form-input:invalid {
  outline: 2px solid red;
}

.contacts-form-input {
  width: 292px;
  height: 48px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 100px;
  background-color: transparent;
  outline: none;

  padding-left: 24px;
  padding-right: 102px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;

  letter-spacing: -0.04em;
  color: #ffffff;
}

.contacts-form-input::placeholder {
  opacity: 0.3;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;

  letter-spacing: -0.04em;
  color: #ffffff;
}

.contacts-form-btn {
  position: absolute;
  left: 190px;

  width: 102px;
  height: 48px;

  border: none;
  background: #9dc162;
  border-radius: 100px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  letter-spacing: -0.04em;
  text-transform: capitalize;
  color: #ffffff;
}
