.footer {
  padding: 80px 0;
  color: var(--bg-color);
}

@media only screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    align-items: center;
  }
}

@media only screen and (min-width: 1280px) {
  .footer .container {
    align-items: flex-start;
  }
}

@media only screen and (max-width: 1279px) {
  .footer .container {
    gap: 171px;
  }
}

@media only screen and (min-width: 1280px) {
  .footer-right-side {
    display: flex;
    gap: 243px;
    margin-right: auto;
  }
}

.footer-img {
  margin-bottom: 20px;
}

.footer-logo {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

@media only screen and (min-width: 1280px) {
  .footer-logo {
    margin-bottom: 0;
  }
}

.footer-logo-icon {
  fill: currentColor;
}

.footer-logo-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

.footer-nav {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 44px;

  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  letter-spacing: -0.04em;
  color: inherit;
}

@media only screen and (min-width: 768px) {
  .footer-nav {
    align-items: center;
    margin-bottom: 0;
  }
}

.footer-list-networks {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-bottom: 44px;
}

@media only screen and (min-width: 768px) {
  .footer-list-networks {
    justify-content: flex-start;
  }
}

.footer-networks-item {
  width: 40px;
  height: 40px;
}

.footer-networks-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 8px;
  border: 1px solid var(--bg-color);
  border-radius: 10px;
  fill: currentColor;

  transition: background-color 250ms ease-in;
}

.footer-networks-link:hover,
.footer-networks-link:focus {
  background-color: rgba(174, 19, 50, 0.1);
}

.footer-networks-link:hover > .footer-networks-icon,
.footer-networks-link:focus > .footer-networks-icon {
  animation: shake-icon 400ms;
}

.footer-address-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

@media only screen and (min-width: 768px) {
  .footer-address-list {
    text-align: left;
  }
}

.footer-address-item {
  width: 140px;
}

@media only screen and (min-width: 768px) {
  .footer-address-item {
    width: 184px;
    font-size: 18px;
    line-height: 1.33;
  }
}

.footer-address-link {
  color: inherit;
}

/**
  |============================
  | Hover link
  |============================
*/
.hover-link {
  background-image: linear-gradient(
    to right,
    #fff,
    #fff 50%,
    var(--bg-color) 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 5px;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 0.3s ease-in-out,
    background-image 250ms ease-in-out;
}
.hover-link:hover,
.hover-link:focus {
  background-position: 0;
}
.hover-link:before {
  content: '';
  background: var(--bg-color);
  display: block;
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 3px;
  border-radius: 3px;
  transition: width 250ms ease-in-out;
}
.hover-link:hover::before,
.hover-link:focus::before {
  width: 100%;
}
.hover-item {
  border-radius: 10px;
  transition: background-color 0.3s ease-in-out;
}
.hover-item:hover {
  background-color: var(--bg-color);
}
.hover-link:focus {
  background-image: linear-gradient(
    to right,
    var(--bg-color) 50%,
    var(--bg-color)
  );
}
