.page-header {
  position: relative;
  z-index: 2000;
  background-color: #fff;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-list {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-nav-list {
    display: flex;
    gap: 4px;
    margin-right: 84px;
  }
}

@media screen and (min-width: 1280px) {
  .header-nav-list {
    gap: 8px;
    margin-right: 312px;
  }
}

.header-nav-link {
  display: block;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;

  color: var(--bg-color);
}

.header-nav-list .hover-link:before {
  bottom: -7px;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 16px;
  padding-bottom: 16px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: var(--bg-color);
}

.header-logo-icon {
  fill: currentColor;
}

.top-line-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  height: 24px;
  color: var(--bg-color);
}

.top-line-icon {
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .header-btn {
    display: none;
  }
}

@media screen and (min-width: 767px) {
  .burger-btn {
    display: none;
  }
}

.burger-btn[aria-expanded='true'] {
  display: none;
}

.burger-close-btn {
  display: none;
}

.burger-btn[aria-expanded='true'] + .burger-close-btn {
  display: contents;
}
