/* .overlay {
    opacity: 0;
    visibility: hidden;
    overflow: scroll;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 20;

}

.modal-thank-you {
    padding-top: 68px;
    padding-bottom: 80px;
    position: absolute;
    width: 100%;
    max-width: 600px;
    background-color: #E03F5E;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(360deg);
    opacity: 0;
    visibility: hidden;
    overflow-y: scroll;
    z-index: 30;
    box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
}

.modal-thank-you.active,
.overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal-thank-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 24px;
    top: 24px;
    z-index: 2;
    width: 28px;
    height: 28px;
    background-color: transparent;
    cursor: pointer;
    border: none;
    fill: white;
}

.modal-thank-close-btn {
    position: relative;
}

.modal-thank-img {
    width: 278px;
    height: 239px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 28px;
}


.modal-thank-header {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.1;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
    margin-bottom: 14px;
}

.modal-thank-desc {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.29;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    letter-spacing: -0.04em;
    color: #FFFFFF;
    text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
    margin-left: 104px;
    margin-right: 104px;
} */
